*{margin: 0; padding: 0;}
a{text-decoration: none;}
kbd{
    border: 1px solid red;
    width: 4em;
    height: 4em;
    display: inline-block;
    text-transform: uppercase; /*小写转换为大写*/
    position: relative;
}

kbd > button{
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}

kbd:hover>button{
    display: inline-block;
}

body{
    background: white url(./img/wall.jpg) no-repeat center center;
    background-size: cover;
}

main{
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;      /*三行居中*/
}

#main1{
    display: inline-block;
}

#main1>div:nth-child(2){
    margin-left: -22px;
}
#main1>div:nth-child(3){
    margin-left: -80px;
}

.key{
    font-size: 17px;
    position: relative;
    font-family: Helvetica;
    width: 60px;
    height: 48px;
    background: -webkit-linear-gradient(top, rgba(41,41,41,0.96) 0%,rgba(17,17,17,1) 100%);
    border: 1px solid #373737;
    color: #C5C5C5;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #1A1B1C, 0 0 0 2px #1F2020, 0 3px 0 2px #080808;
}

.row{
    margin: 25px;
}

.row .key{
    margin: 0 12px;
}

.main2{
    background: rgba(255,255,255,0.2);
    border-radius: 10px;
}

.key img{
    width: 16px;
    height: 16px;
    position: absolute;
    left: 4px;
    bottom: 2px;
}

.txt{
    position: absolute;
    left: 4px;
    top: 2px;
}